* {
    margin: 0;
    padding: 0;
}

#clock {
    margin: auto;
    height: 40vw;
    width: 40vw;
    background-image: url("clock.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.center {
    height: 0.8vw;
    width: 0.8vw;
    border: 2px solid black;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    margin-top: 19.5vw;
    margin-left: 19.5vw;
    margin-right: 19.5vw;
    margin-bottom: 19.5vw;
}

#hour, #min, #sec {
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#sec {
    width: 0.3vw;
    height: 14vw;
    margin-top: 6vw;
    margin-left: 19.8vw;
    opacity: 0.7;
    /* display: none; */
    border: 2px solid green;
}

#min {
    width: 0.35vw;
    height: 11vw;
    margin-top: 9vw;
    margin-left: 19.75vw;
    opacity: 0.7;
    /* display: none; */
    border: 2px solid red;
}

#hour {
    width: 0.4vw;
    height: 9vw;
    margin-top: 11vw;
    margin-left: 19.9vw;
    opacity: 0.7;
    /* display: none; */
    border: 2px solid blue;

}
